*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
     90deg,
     rgb(57, 60, 148)0%,
     rgb(141, 24, 187)100%
     );
}

.board{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
}
.board.X .cell:not(.X):not(.circle):hover::after,
.board.X .cell:not(.X):not(.circle):hover::before,
.board.circle .cell:not(.X):not(.circle):hover::after,
.board.circle .cell:not(.X):not(.circle):hover::before {
    background: rgba(37, 35, 35, 0.411) !important;

}

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.cell.X , .cell.circle{
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none ;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::after,
.board.X .cell:not(.X):not(.circle):hover::before
{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.cell.X::before,:not(.X):not(.circle)
.board.X .cell:not(.X):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.X):not(.circle):hover::after,
.board.circle .cell:not(.X):not(.circle):hover::before
{
    content: "";
    height: calc(100px * 0.8);
    width: calc(100px * 0.8);
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}




.winning-message{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    flex-direction: column;
    display: none;
}
.winning-message-button{
    font-size: 2.5rem;
    background-color: rgb(57, 60, 148);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: rgb(240, 248, 255);
    transition: 0.5s;
}
.winning-message-button:hover{
    color:rgb(57, 60, 148) ;
    background-color: hsla(0, 0%, 100%, 0.445);
    transition: 0.8s;

}
.winning-message-text{
    color: white;
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show-winning-message{
    display: flex;
}